.note {
  display: inline-block;
  width: 260px;
  min-height: 130px;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
  border-width: 1;
  border-color: rgb(196, 168, 132);
  border-radius: 6px;
  transition: transform 0.2s;
}

.note:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.note__header {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 0px;
}

.note__header__title {
  font-size: larger;
  font-weight: bolder;
}

.note__header__important {
  padding: 7px;
  width: 15px;
  border-radius: 200px;
  background-color: var(--highlight-color);
}

.note__content {
  margin: 10px 10px 10px 0px;
}
