.note {
  display: inline-block;
  width: 240px;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
  border-width: 1;
  border-color: rgb(196, 168, 132);
  border-radius: 6px;
}

.note__title {
  font-size: larger;
  margin-top: 8px;
  font-weight: bolder;
  margin: 10px 10px 10px 0px;
}

.note__content {
  margin: 10px 10px 10px 0px;
}