.smallButton {
  color: black;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center; /* X Axis */
  align-items: center; /* Y Axis */
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 6px;
}
