.modal {
  position: fixed;
  padding: 40px 20px 20px;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.412);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  /* z-index: 999; */
}

.modal__separator {
  color: rgba(0, 0, 0, 0.415);
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal__body {
  width: fit-content;
  height: fit-content;
  min-width: 50%;
  min-height: 170px;
  /* width: 50%;
  height: 50%; */
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 2rem;
}

.modal__header {
  background-color: var(--bg-secondary-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 15px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__header__left-section, .modal__header__right-section {
  display: flex;
  /* padding: 10px; */
}

.modal__header > div > h3 {
  margin: 0px;
  font-size: smaller;
}

.modal__header__left-section__icons {
  margin-left: 15px;
}

.modal__content {
  padding: 20px;
}

/* .modal__footer {
  position: relative;
  align-items: end;
}

.modal__footer > .button {
  position: absolute;
  bottom: 0;
} */
