.noteForm {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
}

.note-input-area {
  margin-bottom: 10px;
}

.note-input-area > h6 {
  font-weight: normal;
  font-size: var(--text-small);
}

.note__text-input > input {
  margin: 0px 0px 10px 0px;
  font-size: var(--text-normal);
  width: 99%;
}

.note__textarea > textarea {
  font-size: var(--text-normal);
  width: 99%;
  height: 100px;
  resize: vertical;
}

.note__important-checkbox {
  display: flex;
}
