body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea {
  font-family: Roboto;
}

h1,
h2,
h3,
h4 {
  font-family: "Jost Medium";
}

h5,
h6 {
  font-family: "Jost Regular";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: medium;
}

:root {
  /* Colors */
  --bg-primary-color: white;
  --bg-secondary-color: antiquewhite;
  --highlight-color: rgb(243, 202, 148);

  /* Fonts */
  --text-normal: 1.2rem;
  --text-small: 1rem;
}
